html {scroll-behavior: smooth;}
body {
    margin: 0 auto;
    width: 1400px;
    min-width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #000000;  
    color: #FFFFFF;
}
p {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
}
h1 {
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #FF25C2;
    margin-left: -8px;
    margin-bottom: 35px;
}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.05em;
}
.header {
    width: 1150px;
    margin: 0 auto;
    min-width: 1150px;
    text-align: center;
}
.menu{
    margin: 44px 0px 60px 0px;
}
.menu li{
    margin: 0px 22px 0px 20px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    display: inline-block;
    text-transform: uppercase;
}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
}
.menu a:hover {
    color: #FF25C2;
}  
.menu a:active {
    color: #FF25C2;
}  
.first-screen{
    margin-bottom: 70px;
}
.first-screen p{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 430px;
    height: 103px;
    margin: 0 auto;
}
.first-screen-inner {
    background-image: url(../images/first-screen.png);
    width: 819px;
    height: 840px;
    margin: -34px auto 0px auto;
}
.models {
    width: 1150px;
    margin: 0 auto 150px auto;
}
.model-item {
    width: 1150px;
    height: 644px;
    position: relative;
    margin-bottom: 80px;
}
.model-item h2 {
    left: 50px;
    top: 50px;
    width: 375px;
    height: 112px;
    line-height: 93.52%;
    position: absolute;
}
.model-item a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 25px;
    line-height: 109px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 420px;
}
.model-item a:hover {
    color: #FF25C2;
    border: 1px solid #FF25C2;
}
.model-item img {
    border-radius: 30px;
}
.model-icon {
    position: absolute;
    bottom: 191px;
    left: 50px;
}
.model-item:nth-child(2) {
    margin-bottom: 0px;
}
.functions {
    min-width: 1150px;
    height: 786px;
    margin: 0 auto;
    background-image: url(../images/two-heads.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.functions-inner {
    width: 1150px;
    margin: 0 auto;
}
.functions h2{
    margin: 0px auto;
    color: #FF25C2;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: -0.06em;
    width: 560px;
    padding: 193px 0 39px 0;
    text-align: center;
}  
.functions p{
    width: 671px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    padding-bottom: 39px;
    margin: 0px auto;
}
.trainings {
    width: 1150px;
    margin: 150px auto;
}
.trainings h2{
    font-weight: 700;
    font-size: 100px;
    line-height: 73.52%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FF25C2;
    width: 676px;
    margin: 0 auto;
}
.trainings img{
    padding-top: 80px;
    padding-bottom: 21px;
    display: block;
    margin: 0 auto;
}    
.trainings p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 507px;
    margin: 0 auto;
}





.clear-voice{
    background-image: url(..//images/clear-voice.png);
    min-width: 1150px;
    height: 1040px;
    margin: 0 auto;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.clear-voice h2{
    width: 1150px;
    font-weight: 700;
    font-size: 100px;
    line-height: 74px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    padding: 130px 0px 40px 0px;
    margin: 0 auto;
}
.clear-voice p{
    width: 942px;
    padding-bottom: 60px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}

.clear-voice a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-size: 25px;
    line-height: 109px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 866px;
    margin: 0 auto;
    display: block;
}
.clear-voice a:hover {
    color: #FF25C2;
    border: 1px solid #FF25C2;
}
.clear-sound {
    width: 1150px;
    padding-top: 150px;
    margin: 0 auto;
} 
.clear-sound h2{
    font-weight: 700;
    font-size: 100px;
    line-height: 74px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    padding-bottom: 100px;
    margin-left: -32px;
}
.clear-sound-inner {
    width: 1150px;
    height: 450px;
    border-radius: 30px;
    background-image: url(../images/clear-sound.png);
    position: relative;
}
.clear-sound-inner p{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 475px;
    height: 60px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 317px;
}


.contacts {
    min-width: 1150px;
    margin: 0 auto;
    padding: 60px 0px 200px 0px;
}
.contacts-inner {
    width: 1150px;
    margin: 0 auto;
    position: relative;
}
 
.contacts ul {
    text-align: center;
    position: absolute;
    left: 89px;
} 
.contacts ul li {
    font-weight: 700;
    font-size: 60px;
    line-height: 73.52%;
    display: inline-block;
    letter-spacing: -0.06em;
    padding-right: 25px;
    width: 211px;
} 
.contacts a {
    color: #FFFFFF;
    text-decoration: none;
} 
.contacts a:hover {
    color: #FF25C2;
}  
.contacts a:active {
    color: #FF25C2;
}  







.footer-menu{
    margin: 44px 0px 60px 0px;
}
.footer-menu li{
    margin: 0px 22px 0px 20px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    display: inline-block;
    text-transform: uppercase;
}
.footer-menu a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-menu a:hover {
    color: #FF25C2;
}  
.footer-menu a:active {
    color: #FF25C2;
}  




.footer {
    margin: 0 auto;
    border-radius: 30px 30px 0px 0px;
    
    height: 222px;
}
.footer-inner{
    width: 1150px;
    margin: 0 auto;
}
.footer-text{
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
    
    top: 76px;
}
.copyright {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    opacity: 0.5;
    
}