html {scroll-behavior: smooth;}
body {
    margin: 0 auto;
    width: 1400px;
    min-width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #000000;  
    color: #FFFFFF;
}
p {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
}
h1 {
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #FF25C2;
    margin-left: -8px;
    margin-bottom: 35px;
}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.05em;
}
h3 {
    font-size: 30px;
    letter-spacing: -0.03em;
}
.header {
    width: 1150px;
    margin: 0 auto;
    min-width: 1150px;
    text-align: center;
}
.menu{
    margin: 44px 0px 60px 0px;
}
.menu li{
    margin: 0px 22px 0px 20px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    display: inline-block;
    text-transform: uppercase;
}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
}
.menu a:hover {
    color: #FF25C2;
}  
.menu a:active {
    color: #FF25C2;
}  
.first-screen{
    margin-bottom: 70px;
}
.first-screen p{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 430px;
    height: 103px;
    margin: 0 auto;
}
.first-screen-inner {
    background-image: url(../images/first-screen.png);
    width: 819px;
    height: 840px;
    margin: -34px auto 0px auto;
}
.models {
    width: 1150px;
    margin: 0 auto 150px auto;
}
.model-item {
    width: 1150px;
    height: 644px;
    position: relative;
    margin-bottom: 80px;
}
.model-item h2 {
    left: 50px;
    top: 50px;
    width: 375px;
    height: 112px;
    line-height: 93.52%;
    position: absolute;
}
.model-item a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 25px;
    line-height: 109px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 420px;
}
.model-item a:hover {
    color: #FF25C2;
    border: 1px solid #FF25C2;
}
.model-item img {
    border-radius: 30px;
}
.model-icon {
    position: absolute;
    bottom: 191px;
    left: 50px;
}
.model-item:nth-child(2) {
    margin-bottom: 0px;
}
.functions {
    min-width: 1150px;
    height: 786px;
    margin: 0 auto 150px auto;
    background-image: url(../images/two-heads.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.functions-inner {
    width: 1150px;
    margin: 0 auto;
}
.functions h2{
    margin: 0px auto;
    color: #FF25C2;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: -0.06em;
    width: 560px;
    padding: 193px 0 39px 0;
    text-align: center;
}  
.functions p{
    width: 671px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    padding-bottom: 39px;
    margin: 0px auto;
}









.trainings {
    width: 1150px;
    margin: 0 auto 150px auto;
}
.trainings h2{
    padding-bottom: 80px;
    font-weight: 700;
    font-size: 100px;
    line-height: 73.52%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FF25C2;
    width: 676px;
    margin: 0 auto;
}
.trainings img{
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}    
.trainings p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 507px;
    padding-bottom: 80px;
    margin: 0 auto;
}




.clear-voice{
    width: 1150px;
    margin: 0 auto 150px auto;
}
.clear-voice h2{
    font-weight: 700;
    font-size: 100px;
    line-height: 73.52%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    padding-top: 130px 0px 40px 0px;
    
}
.clear-voice p{
    font-size: 45px;
    line-height: 90%;
    text-align: center;
    width: 942px;
    padding-bottom: 60px;
}

.clear-voice a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 25px;
    line-height: 109px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 420px;
}












.service-item {
    width: 1150px;
    margin-bottom: 74px;
}
.service-item img {
    width: 1150px;
    height: 200px;
    border-radius: 30px;
    vertical-align: top;
}
.service-item-back {
    width: 1150px;
    height: 283px;
    background: #191C19;
    border-radius: 30px;
    position: relative;
}
.service-item h3{
    font-size: 55px;
    line-height: 72px;
    color: #1BFF07;
    top:40px;
    left: 40px;
    margin-bottom: 15px;
    position: absolute;
}
.service-item p{
    font-size: 22px;
    line-height: 29px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 749px;
}

.service-item:nth-last-child(1) {
    margin-top: 137px;
    margin-bottom: 0px;
}
.contacts {
    min-width: 1150px;
    height: 717px;
    margin: 0 auto 150px auto;
    background: #191C19;
    background-image: url(../images/programmer.png);
    background-repeat: no-repeat;
    background-position-x: right;
    border-radius: 30px;
    position: relative;
}
.contacts-inner {
    width: 1150px;
    margin: 0 auto;
}
.contacts h2{
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    position: absolute;
    top: 320px;
}  
.contacts ul {
    position: absolute;
    bottom:89px;
} 
.contacts ul li {
    padding-top: 20px;
} 
.contacts a {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-decoration: none;
} 
.contacts a:hover {
    color: #1BFF07;
}  
.contacts a:active {
    color: #1BFF07;
}  
.footer {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    height: 222px;
}
.footer-inner{
    width: 1150px;
    margin: 0 auto;
}
.footer-text{
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
    position: absolute;
    top: 76px;
}
.copyright {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 172px;
}